<aside class="col-lg-4 blog-sidebar">
    <div class="d-none d-lg-block bg-dark text-white border-primary border rounded shadow p-5 my-3 text-center shadow"
        style="position: sticky; top: 30px;">
        <h2 class="display-5 my-3">Get Quant Secrets in your inbox.</h2>
        <p class="lead font-weight-normal p-3">Learn quantitative analysis and algorithmic trading.</p>
        <a href="{{ '/' | absolute_url }}"><button class="btn btn-primary btn-lg">Subscribe</button></a>
    </div>
    <div
        class="d-block d-lg-none d-xl-none bg-dark text-white border-primary border rounded shadow p-5 text-center shadow">
        <h2 class="display-5 my-3">Get Quant Secrets in your inbox.</h2>
        <p class="lead font-weight-normal p-3">Learn quantitative analysis and algorithmic trading.</p>
        <a href="{{ '/' | absolute_url }}"><button class="btn btn-primary btn-lg">Subscribe</button></a>
    </div>
</aside>