<div class="container-fluid p-3 p-md-3 text-center bg-gradient text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-lg-3 mx-auto my-3">
                <h2 class="display-5 my-3">Want To Make More Sales On Poshmark?</h2>
                <p class="lead font-weight-normal p-3">Make more sales and spend less time sharing by using Closet
                    Tools.</p>
                <a style="text-decoration: none;" class="btn btn-light btn-lg text-primary"
                    href="{{ '/' | absolute_url }}">Get Closet Tools</a>
            </div>
        </div>
    </div>
</div>