<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | absolute_url }}">
            <img src="/assets/images/logo-square.png" alt="" width="30" height="30"
                class="rounded d-inline-block align-top">
            Quant Secrets
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/about' | absolute_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/base' | absolute_url }}">Knowledge Base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://twitter.com/quantsecrets">@quantsecrets</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="{{ '/' | absolute_url }}"><button class="btn btn-outline-primary"
                        type="submit">Subscribe</button></a>
            </div>
        </div>
    </div>
</nav>